/bin/
.gradle
.classpath
.project
build
libsqeazy.dylib
/src/cpp/src/encoders/loics_suite_realistic.log
/src/cpp/src/encoders/loics_suite_shifted_normal.log
/src/cpp/src/encoders/loics_suite_write_to_file_realistic_roundtrip.log
/src/cpp/src/encoders/loics_suite_write_to_file_realistic_roundtrip_newapi.log
*.log
*.sqy
*.h5
*pp~
